
html{
    background-color: black;
}
h1{
    color: white;
    text-decoration: underline;
    
    
}
a {
    color: white;
    display: block;
    text-align: center;

}
.emman-img{
  top: 10px;
  width: 55%;
  height: 50%;
  border: 5px solid white;
  
    
}
.poster{
    margin: auto;
    width: 55%;
    text-align: center;
    
     
}   